.navbar .navbar-nav>.ak-navbar-left-part>li>a,.navbar .navbar-nav>.ak-navbar-right-part>li>a {
	font-family: "dosis-regular",sans-serif;
}

.navbar .navbar-nav>.ak-navbar-left-part>li>a:hover,.navbar .navbar-nav>.ak-navbar-right-part>li>a:hover {
	font-family: "dosis-regular",sans-serif;
}

.navbar .navbar-nav>.ak-navbar-left-part>li>a:focus,.navbar .navbar-nav>.ak-navbar-right-part>li>a:focus {
	font-family: "dosis-regular",sans-serif;
}

.navbar .videogame a:hover {
	color: #ff6631 !important;
}

.navbar .animation a:hover {
	color: #bba464 !important;
}

.navbar .edition a:hover {
	color: #ffde00 !important;
}

.navbar .boardgame a:hover {
	color: #afde30 !important;
}

header:not(.ak-navbar-fixed) .navbar a {
	font-size: 1.5rem !important;
	letter-spacing: 2px;
	padding-top: 10px !important;
	color: #535353 !important;
}

header:not(.ak-navbar-fixed) .navbar .videogame a:hover {
	color: #ff6631 !important;
}

header:not(.ak-navbar-fixed) .navbar .videogame a:hover::before {
	background-image: url("assets/home/nav/videogame.png");
	background-color: #ff6631;
	border: 2px solid #ff6631;
}

header:not(.ak-navbar-fixed) .navbar .videogame a::before {
	background-image: url("assets/home/nav/videogamesOff.png");
}

header:not(.ak-navbar-fixed) .navbar .animation a:hover {
	color: #bba464 !important;
}

header:not(.ak-navbar-fixed) .navbar .animation a:hover::before {
	background-image: url("assets/home/nav/animation.png");
	background-color: #bba464;
	fill: #bba464;
	border: 2px solid #bba464;
}

header:not(.ak-navbar-fixed) .navbar .animation a::before {
	background-image: url("assets/home/nav/animationsOff.png");
}

header:not(.ak-navbar-fixed) .navbar .edition a:hover {
	color: #ffde00 !important;
}

header:not(.ak-navbar-fixed) .navbar .edition a:hover::before {
	background-image: url("assets/home/nav/editions.png");
	background-color: #ffde00;
	border: 2px solid #ffde00;
}

header:not(.ak-navbar-fixed) .navbar .edition a::before {
	background-image: url("assets/home/nav/editionsOff.png");
}

header:not(.ak-navbar-fixed) .navbar .boardgame a:hover {
	color: #afde30 !important;
}

header:not(.ak-navbar-fixed) .navbar .boardgame a:hover::before {
	background-image: url("assets/home/nav/boardgame.png");
	background-color: #afde30;
	border: 2px solid #afde30;
}

header:not(.ak-navbar-fixed) .navbar .boardgame a::before {
	background-size: 70% !important;
	background-image: url("assets/home/nav/boardgamesOff.png");
}

header:not(.ak-navbar-fixed) .navbar a:not(.navbar-brand)::before {
	content: " ";
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	width: 45px;
	height: 45px;
	margin: 0 auto;
	border-radius: 50%;
	margin-top: 50px;
	margin-bottom: -22px;
}

@media all and (min-width:768px) {
	header:not(.ak-navbar-fixed) .navbar a:not(.navbar-brand)::before {
		border: 2px solid #535353;
	}

	header:not(.ak-navbar-fixed) .navbar a:hover {
		color: #ff6631 !important;
	}

	header:not(.ak-navbar-fixed) .navbar a:hover::before {
		background-color: #ff6631;
		border: 2px solid #ff6631;
	}
}

.ak-ankama-menu {
	cursor: pointer;
	display: block;
	position: absolute;
	top: 10px;
	left: 5px;
	height: 50px;
	width: 50px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 5;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.ak-ankama-menu span.ak-menu-text {
	position: absolute;
	bottom: -17px;
	font-family: "dosis-regular",sans-serif;
	font-size: 11px;
	left: 10px;
}

.ak-ankama-menu:hover {
	border: 1px solid #f2f2f2;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.ak-ankama-menu:hover span.ak-menu-text {
	color: #f2f2f2;
}

.ak-ankama-menu:hover span.ak-burger {
	background: #f2f2f2;
}

.ak-ankama-menu:hover span.ak-burger:before,.ak-ankama-menu:hover span.ak-burger:after {
	background: #f2f2f2;
}

.ak-ankama-menu span.ak-burger {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	cursor: pointer;
	height: 4px;
	width: 34px;
	position: absolute;
	display: block;
	content: "";
	top: 9px;
	left: 7px;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.ak-ankama-menu span.ak-burger:before,.ak-ankama-menu span.ak-burger:after {
	cursor: pointer;
	height: 4px;
	width: 34px;
	position: absolute;
	display: block;
	content: "";
	top: 0;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.ak-ankama-menu span.ak-burger:before {
	top: 13px;
}

.ak-ankama-menu span.ak-burger:after {
	top: 26px;
}

.ak-ankama-menu.active span.ak-burger {
	background-color: transparent;
}

.ak-ankama-menu.active span.ak-burger:before,.ak-ankama-menu.active span.ak-burger:after {
	top: 13px;
}

.ak-ankama-menu.active span.ak-burger:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ak-ankama-menu.active span.ak-burger:after {
	-webkit-transform: translateY(-8px) rotate(-45deg);
	transform: translateY(-8px) rotate(-45deg);
	top: 21px;
}

.ak-ankama-modal {
	position: absolute;
	z-index: 5;
	top: 50px;
	left: 50%;
	margin-left: -90px;
}

.ak-ankama-modal ul.ak-main-links {
	margin: 0;
	padding: 0;
}

.ak-ankama-modal ul.ak-main-links li {
	margin: 4px 0;
	list-style: none;
	position: relative;
}

.ak-ankama-modal ul.ak-main-links li a {
	font-size: 26px;
	font-size: 2.6rem;
	color: #fff;
	font-family: "dosis-regular",sans-serif;
	padding: 4px 20px;
	margin-top: 6px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}

.ak-ankama-modal ul.ak-main-links li a:hover,.ak-ankama-modal ul.ak-main-links li a:focus {
	text-decoration: none;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}

.ak-ankama-modal ul.ak-main-links li a:hover::after,.ak-ankama-modal ul.ak-main-links li a:hover::before,.ak-ankama-modal ul.ak-main-links li a:focus::after,.ak-ankama-modal ul.ak-main-links li a:focus::before {
	opacity: 1;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}

.ak-ankama-modal ul.ak-main-links li a::after,.ak-ankama-modal ul.ak-main-links li a::before {
	content: "";
	width: 2px;
	opacity: 0;
	height: 2px;
	position: absolute;
	top: 50%;
	margin-top: 3px;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}

.ak-ankama-modal ul.ak-main-links li a::before {
	left: -5px;
}

.ak-ankama-modal ul.ak-main-links li a::after {
	right: -5px;
}

.ak-ankama-modal ul.ak-main-links li+li::after {
	content: "";
	width: 90%;
	height: 1px;
	position: absolute;
	top: -8px;
	left: 50%;
	margin-left: -45%;
}

.ak-ankama-modal ul.ak-more-links {
	margin: 10px 0 0 0;
	padding: 0;
}

.ak-ankama-modal ul.ak-more-links li {
	margin: 16px 0;
	list-style: none;
	position: relative;
}

.ak-ankama-modal ul.ak-more-links li a {
	color: #a9a9a9;
	font-family: "dosis-regular",sans-serif;
	font-size: 20px;
	font-size: 2rem;
	display: block;
	text-align: center;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.ak-ankama-modal ul.ak-more-links li a:hover {
	color: #dcdcdc;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.ak-ankama-modal .ak-lang-container {
	margin-top: 10px;
	border: 1px solid #6a6a6a;
	background: #424142;
	color: #fefefe;
	padding: 12px 25px;
	padding: 1.2rem 2.5rem;
	font-size: 20px;
	font-size: 2rem;
	font-family: "dosis-regular",sans-serif;
	position: relative;
}

.ak-ankama-modal .ak-lang-container .ak-flags-links {
	position: absolute;
	right: 15px;
	top: 10px;
}

.ak-mask {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-height: 500px;
	background: rgba(0,0,0,.95);
	z-index: 3;
	display: none;
}

.ak-header-social-links {
	position: absolute;
	top: 10px;
	right: 5px;
	z-index: 1;
}

.ak-header-social-links a {
	display: inline-block;
	width: 26px;
	height: 26px;
	position: relative;
	border-radius: 4px;
	background: #ff6631;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	margin-left: 5px;
}

.ak-header-social-links a:hover {
	background: #ffc5b1;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.ak-header-social-links .ak-link-fb svg {
	position: absolute;
	right: -1px;
	bottom: -2px;
	fill: #000;
	width: 24px;
}

.ak-header-social-links .ak-link-twt,.ak-header-social-links .ak-link-yt {
	background: #000;
}

.ak-header-social-links .ak-link-twt:hover,.ak-header-social-links .ak-link-yt:hover {
	background: #000;
}

.ak-header-social-links .ak-link-twt svg,.ak-header-social-links .ak-link-yt svg {
	position: absolute;
	top: 2px;
	left: 2px;
	fill: #ff6631;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	background: #000;
}

.ak-header-social-links .ak-link-twt svg:hover,.ak-header-social-links .ak-link-yt svg:hover {
	background: #000;
	fill: #ffc5b1;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.ak-header-social-links .ak-link-twt svg {
	width: 24px;
}

.ak-header-social-links .ak-link-yt {
	width: 56px;
	bottom: 0;
}

.ak-header-social-links .ak-link-yt svg {
	top: auto;
	bottom: 0;
}

@media all and (min-width:768px) {
	.ak-ankama-modal {
		margin-left: -100px;
	}

	.ak-ankama-modal ul.ak-main-links li {
		margin: 16px 0;
	}

	.ak-ankama-modal ul.ak-main-links li a {
		font-size: 41px;
		font-size: 4.1rem;
		padding: 8px;
		margin-top: 8px;
	}

	.ak-ankama-modal ul.ak-more-links {
		margin: 40px 0 0 0;
	}

	.ak-ankama-modal .ak-lang-container {
		margin-top: 40px;
	}

	.ak-ankama-menu {
		top: 57px;
		left: 90px;
	}

	.ak-header-social-links {
		top: 70px;
		right: 90px;
	}
}

.burger-btn {
	margin: 10px 5px;
}

.ak-navbar-search-mob {
	display: none;
}

@media all and (min-width:992px) {
	.sticky-wrapper:not(.is-sticky) .navbar .navbar-nav>.ak-navbar-left-part,.sticky-wrapper:not(.is-sticky) .navbar .navbar-nav>.ak-navbar-right-part {
		width: 600px;
	}

	.sticky-wrapper:not(.is-sticky) .navbar .navbar-nav>.ak-navbar-left-part li,.sticky-wrapper:not(.is-sticky) .navbar .navbar-nav>.ak-navbar-right-part li {
		margin: 0 5rem;
	}
}

@media all and (min-width:768px) {
	.navbar .navbar-nav>.ak-navbar-left-part {
		right: 60%;
	}

	.navbar .navbar-nav>.ak-navbar-right-part {
		left: 60%;
	}
}

@media all and (min-width: 768px)and (max-width: 992px) {
	.navbar .navbar-nav>.ak-navbar-left-part,.navbar .navbar-nav>.ak-navbar-right-part {
		width: 500px;
	}

	.navbar .navbar-nav>.ak-navbar-left-part li,.navbar .navbar-nav>.ak-navbar-right-part li {
		margin: 0 3rem;
	}
}

header {
	background: url("../assets/images/bg_header.jpg") top center repeat;
}

header .navbar {
	border-top: none;
	height: 82px;
}

header .navbar:before {
	background: url("../assets/images/bg.jpg");
	width: 100%;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
}

header .navbar .navbar-nav>li.ak-menu-brand a.navbar-brand {
	background: url("../assets/images/logo.png") center center no-repeat;
}

header .navbar .ak-main-logo {
	background-size: contain;
	height: 80px;
	width: 180px;
	margin-left: -80px;
}

header .navbar .navbar-nav>li.ak-menu-brand {
	z-index: 2;
}

header .navbar .navbar-nav>li.ak-menu-brand a.navbar-brand {
	height: 174px;
	width: 210px;
	margin-top: 0;
}

.is-sticky header .navbar .ak-main-logo {
	height: 50px;
}

.row+.row {
	margin-top: 12px;
}

.container {
	max-width: 1335px;
}

.container .ak-main-page {
	background: #fff;
}

.ak-block {
	padding: 0 0 24px 0;
	margin: 0;
	background: transparent;
	color: #fff;
	font-family: "dosis-regular",sans-serif;
}

.ak-block .ak-sep {
	margin: 0 0 12px 0;
	height: 1px;
	background: rgba(255,255,255,.1);
}

.ak-block .ak-main-trailer {
	width: 263px;
	height: 130px;
	background: url("../assets/images/anim/bg_trailer.jpg") no-repeat;
	margin-bottom: 12px;
	display: inline-block;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	position: relative;
	cursor: pointer;
}

.ak-block .ak-main-trailer:hover {
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	box-shadow: 0 0 5px rgba(255,255,255,.4);
}

.ak-block .ak-main-trailer:hover,.ak-block .ak-main-trailer:focus {
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	box-shadow: 0 0 5px rgba(255,255,255,.4);
}

.ak-block .ak-main-trailer:hover::after,.ak-block .ak-main-trailer:focus::after {
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	box-shadow: 0 0 5px rgba(255,255,255,.4);
	background: url("../assets/images/anim/bg_h2_anim.png");
}

.ak-block .ak-main-trailer:hover::before,.ak-block .ak-main-trailer:focus::before {
	background: url("../assets/images/anim/btn_play.png") center center no-repeat transparent;
}

.ak-block .ak-main-trailer::after {
	content: "";
	background: url("../assets/images/anim/bg_h2_anim.png");
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 50%;
	margin-left: -30px;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}

.ak-block .ak-main-trailer::before {
	content: "";
	background: url("../assets/images/anim/btn_play.png") center center no-repeat transparent;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 50%;
	margin-left: -30px;
	z-index: 2;
}

.ak-block a {
	padding: 10px 20px;
	padding: 1rem 2rem;
	display: inline-block;
	position: relative;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	font-family: "dosis-regular",sans-serif;
	z-index: 1;
}

.ak-block a::before,.ak-block a::after {
	content: "";
	position: absolute;
	width: 3px;
	height: 3px;
	top: 50%;
	margin-top: -1px;
	z-index: 1;
}

.ak-block a>span {
	display: inline-block;
	right: 2px;
	bottom: 2px;
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: -1;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	opacity: 0;
}

.ak-block a::before {
	left: 7px;
}

.ak-block a::after {
	right: 7px;
}

.ak-block a:hover,.ak-block a:focus {
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	color: #fff;
	text-decoration: none;
}

.ak-block a:hover>span,.ak-block a:focus>span {
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	opacity: 1;
}

.ak-block a:hover::before,.ak-block a:hover::after,.ak-block a:focus::before,.ak-block a:focus::after {
	background: #fff;
}

.ak-block p {
	margin: 20px 0;
	text-align: center;
}

.ak-block p a {
	display: inline;
	border: none;
	color: #ff6631;
	padding: 0;
}

.ak-block p a:before,.ak-block p a:after {
	display: none;
}

.ak-block h3,.ak-block h4 {
	color: #fff;
	font-size: 36px;
	font-size: 3.6rem;
	position: relative;
	font-family: "latoblack",sans-serif;
	margin-bottom: 12px;
}

.ak-block h3::after,.ak-block h4::after {
	content: "";
	width: 136px;
	height: 5px;
	background: url("../assets/images/anim/bg_after_h3.png");
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -68px;
}

.ak-block h3 span,.ak-block h4 span {
	color: #fff;
	font-family: "latohairline",sans-serif;
	font-weight: normal;
	font-size: 19px;
	font-size: 1.9rem;
}

.ak-block h4 {
	color: #fff0d0;
	font-size: 17px;
}

@media all and (min-width:768px) {
	header .navbar {
		height: 170px;
	}

	header .navbar .navbar-nav>li.ak-menu-brand a.navbar-brand {
		top: 35px;
	}

	header .navbar .ak-main-logo {
		width: 100px;
		margin-left: -50px;
	}

	.ak-block {
		background: rgba(0,0,0,.5);
		padding: 20px 20px;
		padding: 2rem 2rem;
		margin: 0 42px;
	}
}

@media all and (min-width:992px) {
	header .navbar .navbar-nav>li.ak-menu-brand a.navbar-brand {
		top: 0;
	}
}

.ak-main-container {
	text-align: center;
}

.ak-main-container h2 {
	display: inline-block;
	font-family: "dosis-regular",sans-serif;
	font-weight: normal;
	background: url("../assets/images/anim/bg_h2.png");
	color: #fff;
	font-size: 19px;
	font-size: 1.9rem;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 10px;
	padding: 0.5rem 1rem;
}

.prevention {
	display: none;
}

footer .ak-footer-content {
	position: relative;
}

footer .ak-footer-content .ak_legal div p {
	text-align: left;
}

footer .ak-footer-content .ak-footer-social {
	position: relative;
	margin: 12px auto;
	text-align: center;
}

@media all and (min-width:768px) {
	footer .ak-footer-content .ak-footer-social {
		position: absolute;
		left: 50%;
		margin-left: 460px;
		top: 25px;
		margin-top: 0;
	}
}

footer .ak-footer-content .ak-footer-social a {
	background: url("../assets/images/anim/social.png") 0 0 no-repeat transparent;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

footer .ak-footer-content .ak-footer-social a.ak-fb {
	background-position: 0 0;
}

footer .ak-footer-content .ak-footer-social a.ak-fb:hover {
	background-position: 0 -30px;
}

footer .ak-footer-content .ak-footer-social a.ak-tw {
	background-position: -42px 0;
}

footer .ak-footer-content .ak-footer-social a.ak-tw:hover {
	background-position: -42px -30px;
}

footer .ak-footer-content .ak-footer-social a.ak-yt {
	background-position: -84px 0;
	width: 53px;
}

footer .ak-footer-content .ak-footer-social a.ak-yt:hover {
	background-position: -84px -30px;
}

.ak-navbar-search {
	display: none;
}

header .ak-nav-not-logged .ak-connect-links a:not(.navbar-brand)::before {
	margin-top: 0;
	height: 13px;
}

.ak-nav-not-logged .ak-connect-links a.login img {
	margin: 2px 3px;
}

.ak-nav-not-logged .ak-connect-links {
	margin: 5px 2px;
}

header .ak-ankama-menu {
	border: 1px solid #c1c1c1;
}

header .ak-ankama-menu span.ak-menu-text {
	color: #c1c1c1;
}

header .ak-ankama-menu span.ak-burger {
	background: #c1c1c1;
}

header .ak-ankama-menu span.ak-burger:before,header .ak-ankama-menu span.ak-burger:after {
	background: #c1c1c1;
}

header .ak-ankama-modal ul.ak-main-links li a:hover,header .ak-ankama-modal ul.ak-main-links li a:focus {
	background: #c1c1c1;
}

header .ak-ankama-modal ul.ak-main-links li a::after,header .ak-ankama-modal ul.ak-main-links li a::before {
	background: #c1c1c1;
}

header .ak-ankama-modal ul.ak-main-links li+li::after {
	background: #c1c1c1;
}

header .ak-header-social-links a {
	background: #c1c1c1;
}

header .ak-header-social-links a:hover {
	background: #fff;
}

header .ak-header-social-links .ak-link-twt svg,header .ak-header-social-links .ak-link-yt svg {
	fill: #c1c1c1;
}

header .ak-header-social-links .ak-link-twt svg:hover,header .ak-header-social-links .ak-link-yt svg:hover {
	fill: #fff;
}

.ak-block a {
	color: #c1c1c1;
	border: 1px solid #c1c1c1;
}

.ak-block a::before,.ak-block a::after {
	background: #c1c1c1;
}

.ak-block a>span {
	background: #c1c1c1;
}

.ak-main-container {
	max-width: none;
	width: 100%;
	text-align: left;
}

.ak-main-container .ak-block-home {
	border-top: 6px solid #e7a300;
}

.ak-main-container .ak-block-home .ak-title {
	font-family: "latoblack",sans-serif;
	font-size: 30px;
	color: #fff;
	background: #e7a300;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	padding: 24px 12px;
	text-transform: uppercase;
}

.ak-main-container .ak-block-top {
	position: relative;
}

.ak-main-container .ak-block-top .ak-home-carousel-top {
	min-height: 360px;
	overflow: hidden;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-prev,.ak-main-container .ak-block-top .ak-home-carousel-top .ak-next {
	position: absolute;
	bottom: 200px;
	z-index: 100;
	border: none;
	width: 63px;
	height: 61px;
	font-size: 0;
	cursor: pointer;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-prev:after,.ak-main-container .ak-block-top .ak-home-carousel-top .ak-next:after {
	content: " ";
	position: absolute;
	display: block;
	width: 63px;
	height: 61px;
	opacity: 0;
	z-index: 2;
	top: 0;
	left: 0;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-prev:hover:after,.ak-main-container .ak-block-top .ak-home-carousel-top .ak-next:hover:after {
	opacity: 1;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-prev {
	left: 50px;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-prev:after {
	background: url("../assets/images/carousel/prev-over.png") top center no-repeat transparent;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-next {
	right: 50px;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-next:after {
	background: url("../assets/images/carousel/next-over.png") top center no-repeat transparent;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .slick-dots {
	padding: 0;
	bottom: 0px;
	text-align: center;
}

@media all and (min-width:992px) {
	.ak-main-container .ak-block-top .ak-home-carousel-top .slick-dots {
		position: absolute;
		width: 100%;
	}
}

.ak-main-container .ak-block-top .ak-home-carousel-top .slick-dots li {
	display: inline-block;
	list-style: none;
	background: #fff;
	border-radius: 50%;
	font-size: 0;
	height: 9px;
	width: 9px;
	margin: 3px;
	box-shadow: 1px 1px 2px #000;
	cursor: pointer;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .slick-dots li button {
	border: 0;
	background: transparent;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .slick-dots li.slick-active {
	background: #fa6767;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content {
	height: 400px;
	position: relative;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content .ak-link-logo {
	position: absolute;
	bottom: 10px;
	left: 50%;
	display: none;
	width: 315px;
	height: 185px;
	background: none;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content .ak-link-logo.ak-link-logo1 {
	margin-left: -600px;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content .ak-link-logo.ak-link-logo2 {
	margin-left: -550px;
}

@media all and (min-width: 1250px) {
	.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content .ak-link-logo {
		display: block;
	}
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content .ak-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content .ak-content .ak-block-title-carou {
	background: #fff;
	box-shadow: 4px 4px 0 0px rgba(0,0,0,.5);
	padding: 15px 15px 15px 20px;
	display: block;
	text-decoration: none;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content .ak-content .ak-block-title-carou .ak-title-carou {
	font-family: "latoblack",sans-serif;
	font-size: 25px;
	color: #11111a;
	text-transform: uppercase;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content .ak-content .ak-block-title-carou .ak-subtitle-carou {
	font-family: "latoregular",sans-serif;
	color: #374541;
	font-size: 15px;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content .ak-content a {
	font-family: "latoregular",sans-serif;
	margin-top: 11px;
	background: #e7431a;
	font-size: 11px;
	display: none;
	cursor: pointer;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content .ak-content a.btn:hover {
	background: #e7a300;
	-webkit-transition: background .25s;
	transition: background .25s;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content .ak-content .ak-block-store a {
	background: unset;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content0 {
	background: url("assets/home/carousel/waven_mobile.jpg") top center no-repeat transparent;
	background-size: cover;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content1 {
	background: url("assets/home/carousel/dofus_mobile.jpg") top center no-repeat transparent;
	background-size: cover;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content2 {
	background: url("assets/home/carousel/wakfu_mobile.jpg") top center no-repeat transparent;
	background-size: cover;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content3 {
	background: url("assets/home/carousel/cosmobot_mobile.jpg") top center no-repeat transparent;
	background-size: cover;
}

.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content4 {
	background: url("assets/home/carousel/radiant_mobile.jpg") top center no-repeat transparent;
	background-size: cover;
}

@media all and (min-width:992px) {
	.ak-main-container .ak-block-top .ak-home-carousel-top {
		min-height: 396px;
	}

	.ak-main-container .ak-block-top .ak-home-carousel-top .ak-prev,.ak-main-container .ak-block-top .ak-home-carousel-top .ak-next {
		bottom: 180px;
	}

	.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content {
		height: 396px;
		background-size: initial;
	}

	.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content .ak-content {
		right: 200px;
		bottom: 140px;
		max-width: 425px;
		text-align: right;
		display: inline-block;
		width: auto;
	}

	.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content .ak-content a {
		display: inline-block;
	}

	.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content0 {
		background: url("assets/home/carousel/waven.jpg") top center no-repeat transparent;
	}

	.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content1 {
		background: url("../assets/images/home/carousel/dofus.jpg") top center no-repeat transparent;
	}

	.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content2 {
		background: url("../assets/images/home/carousel/wakfu.jpg") top center no-repeat transparent;
	}

	.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content3 {
		background: url("../assets/images/home/carousel/cosmobot.jpg") top center no-repeat transparent;
	}

	.ak-main-container .ak-block-top .ak-home-carousel-top .ak-slide-content4 {
		background: url("../assets/images/home/carousel/radiant.jpg") center -55px no-repeat transparent;
	}
}

.ak-main-container .ak-block-shop {
	position: relative;
	border-top: 6px solid #f96767;
}

.ak-main-container .ak-block-shop .ak-banner-shop {
	background: #323438;
	text-align: center;
}

.ak-main-container .ak-block-shop .ak-home-carousel-shop {
	min-height: 350px;
	overflow: hidden;
}

.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-prev,.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-next {
	position: absolute;
	bottom: 200px;
	z-index: 100;
	border: none;
	width: 63px;
	height: 61px;
	font-size: 0;
	cursor: pointer;
}

.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-prev:after,.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-next:after {
	content: " ";
	position: absolute;
	display: block;
	width: 63px;
	height: 61px;
	opacity: 0;
	z-index: 2;
	top: 0;
	left: 0;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-prev:hover:after,.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-next:hover:after {
	opacity: 1;
}

.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-prev {
	left: 50px;
}

.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-prev:after {
	background: url("assets/home/carousel/prev-over.png") top center no-repeat transparent;
}

.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-next {
	right: 50px;
}

.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-next:after {
	background: url("assets/home/carousel/next-over.png") top center no-repeat transparent;
}

.ak-main-container .ak-block-shop .ak-home-carousel-shop .slick-dots {
	padding: 0;
	bottom: 0px;
	text-align: center;
}

@media all and (min-width:992px) {
	.ak-main-container .ak-block-shop .ak-home-carousel-shop .slick-dots {
		position: absolute;
		width: 100%;
	}
}

.ak-main-container .ak-block-shop .ak-home-carousel-shop .slick-dots li {
	display: inline-block;
	list-style: none;
	background: #fff;
	border-radius: 50%;
	font-size: 0;
	height: 9px;
	width: 9px;
	margin: 3px;
	box-shadow: 1px 1px 2px #000;
}

.ak-main-container .ak-block-shop .ak-home-carousel-shop .slick-dots li button {
	border: 0;
}

.ak-main-container .ak-block-shop .ak-home-carousel-shop .slick-dots li.slick-active {
	background: #fa6767;
}

.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-slide-content {
	height: 350px;
	position: relative;
	display: block;
}

.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-slide-content .ak-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

@media all and (min-width:768px) {
	.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-slide-content {
		background-size: contain;
	}
}

@media all and (min-width:992px) {
	.ak-main-container .ak-block-shop .ak-home-carousel-shop {
		min-height: 396px;
	}

	.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-prev,.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-next {
		bottom: 180px;
	}

	.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-slide-content {
		height: 396px;
		background-size: initial;
	}

	.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-slide-content .ak-content {
		right: 200px;
		bottom: 140px;
		max-width: 425px;
		text-align: right;
		display: inline-block;
		width: auto;
	}

	.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-slide-content .ak-content a {
		display: inline-block;
	}

	.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-slide-content1 {
		background: url("assets/home/carousel-shop/momore.fr.jpg") top center no-repeat transparent;
	}

	.ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-slide-content2 {
		background: url("assets/home/carousel-shop/furoshiki.fr.jpg") top center no-repeat transparent;
	}
}

.ak-main-container .ak-block-compagny .ak-block-links {
	max-width: 800px;
	margin: 24px auto 12px;
}

.ak-main-container .ak-block-compagny .ak-block-links a {
	background: #e9e8e8;
	height: 258px;
	display: block;
	margin-bottom: 12px;
	text-align: center;
	padding: 45px 12px 12px 12px;
}

.ak-main-container .ak-block-compagny .ak-block-links a span {
	text-transform: uppercase;
	font-size: 16px;
	font-family: "latoregular",sans-serif;
	display: block;
}

.ak-main-container .ak-block-compagny .ak-block-links a:after {
	content: " ";
	position: absolute;
	display: block;
	width: 100%;
	height: 116px;
	opacity: 0;
	z-index: 2;
	top: 45px;
	left: 0;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

.ak-main-container .ak-block-compagny .ak-block-links a:hover:after {
	opacity: 1;
}

.ak-main-container .ak-block-compagny .ak-block-links a:hover {
	text-decoration: none;
	color: #e7431a;
	box-shadow: 0 0 0 4px #e7431a;
}

.ak-main-container .ak-block-compagny .ak-block-links a.ak-about:hover:after {
	background: url("assets/home/compagny-picto1-over.png") top center no-repeat transparent;
}

.ak-main-container .ak-block-compagny .ak-block-links a.ak-jobs-ankama:hover:after {
	background: url("assets/home/compagny-picto2-over.png") top center no-repeat transparent;
}

.ak-main-container .ak-block-compagny .ak-block-links a.ak-jobs:hover:after {
	background: url("assets/home/compagny-picto3-over.png") top center no-repeat transparent;
	background-size: auto 116px;
}

.ak-main-container .ak-block-compagny .ak-block-links a.ak-press:hover:after {
	background: url("assets/home/compagny-picto4-over.png") top center no-repeat transparent;
}

.ak-main-container .ak-block-creations {
	min-height: 453px;
}

.ak-main-container .ak-block-creations .ak-block-creation {
	border-top: 6px solid;
	position: relative;
}

.ak-main-container .ak-block-creations .ak-block-creation .ak-bg-mob {
	display: block;
}

@media all and (min-width:992px) {
	.ak-main-container .ak-block-creations .ak-block-creation .ak-bg-mob {
		display: none;
	}
}

.ak-main-container .ak-block-creations .ak-block-creation .ak-content-creation {
	background: #323438;
	position: relative;
	overflow: hidden;
	padding: 24px;
	text-align: center;
	bottom: 0;
	width: 100%;
}

@media all and (min-width:992px) {
	.ak-main-container .ak-block-creations .ak-block-creation .ak-content-creation {
		max-width: 510px;
		left: 50%;
		margin-left: -510px;
		background: rgba(0,0,0,.8);
		position: absolute;
		top: 0;
		bottom: auto;
	}
}

.ak-main-container .ak-block-creations .ak-block-creation .ak-content-creation:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -7px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}

.ak-main-container .ak-block-creations .ak-block-creation .ak-content-creation .ak-title-creation {
	color: #fff;
	font-size: 23px;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}

.ak-main-container .ak-block-creations .ak-block-creation .ak-content-creation .ak-text-creation {
	color: #fff;
	text-align: center;
}

.ak-main-container .ak-block-creations .ak-block-creation .ak-content-creation .ak-block-button {
	text-align: center;
	margin-top: 24px;
}

@media all and (min-width:992px) {
	.ak-main-container .ak-block-creations .ak-block-creation .ak-content-creation .ak-block-button {
		text-align: right;
	}
}

.ak-main-container .ak-block-creations .ak-block-creation .ak-content-creation .ak-block-button .btn {
	font-family: "latoregular",sans-serif;
	font-size: 20px;
}

.ak-main-container .ak-block-creations .ak-block-creation .ak-content-creation .ak-block-button .btn:hover {
	background: #e7a300;
}

.ak-main-container .ak-block-creations .ak-block-creation .ak-content-creation hr {
	height: 0;
	border-top: 1px solid;
	margin: 12px 0 24px 0;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation1 {
	background: url("../assets/images/home/bg-creation1.jpg") top center no-repeat transparent;
	border-top: none;
}

@media all and (min-width:992px) {
	.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation1 {
		min-height: 446px;
	}
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation1 .ak-content-creation {
	width: 100%;
}

@media all and (min-width:992px) {
	.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation1 .ak-content-creation {
		margin-left: -438px;
		margin-top: 220px;
		background: none;
	}
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation1 .ak-content-creation .ak-block-button {
	text-align: center;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation1 .ak-content-creation .ak-block-button a {
	background: #e7411a;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation1:before {
	display: none;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation2 {
	background: url("../assets/images/home/bg-creation2.jpg") top center no-repeat transparent;
	border-color: #a7cc26;
}

@media all and (min-width:992px) {
	.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation2 {
		min-height: 449px;
	}
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation2 .ak-content-creation a {
	color: #a7cc26;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation2 .ak-content-creation:before {
	border-top: 15px solid #a7cc26;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation2 .ak-content-creation .ak-block-button a {
	background: #a7cc26;
	color: #fff;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation2 .ak-content-creation hr {
	border-color: #a7cc26;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation3 {
	background: url("../assets/images/home/bg-creation3.jpg") top center no-repeat transparent;
	border-color: #e7411a;
}

@media all and (min-width:992px) {
	.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation3 {
		min-height: 447px;
	}
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation3 .ak-content-creation:before {
	border-top: 15px solid #e7411a;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation3 .ak-content-creation .ak-block-button a {
	background: #e7411a;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation3 .ak-content-creation hr {
	border-color: #e7411a;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation4 {
	background: url("../assets/images/home/bg-creation4.jpg") top center no-repeat transparent;
	border-color: #9a39f5;
}

@media all and (min-width:992px) {
	.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation4 {
		min-height: 447px;
	}
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation4 .ak-content-creation:before {
	border-top: 15px solid #9a39f5;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation4 .ak-content-creation .ak-block-button a {
	background: #9a39f5;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation4 .ak-content-creation hr {
	border-color: #9a39f5;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation5 {
	background: url("../assets/images/home/bg-creation5.jpg") top center no-repeat transparent;
	border-color: #ffefca;
}

@media all and (min-width:992px) {
	.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation5 {
		min-height: 453px;
	}
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation5 .ak-content-creation:before {
	border-top: 15px solid #ffefca;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation5 .ak-content-creation .ak-block-button a {
	background: #ffefca;
	color: #323438;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation5 .ak-content-creation hr {
	border-color: #ffefca;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation6 {
	background: url("../assets/images/home/bg-creation6.jpg") top center no-repeat transparent;
	border-color: #fff36e;
}

@media all and (min-width:992px) {
	.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation6 {
		min-height: 453px;
	}
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation6 .ak-content-creation:before {
	border-top: 15px solid #fff36e;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation6 .ak-content-creation .ak-block-button a {
	background: #fff36e;
	color: #323438;
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation6 .ak-content-creation .ak-block-button a:hover {
	-webkit-filter: saturate(2);
	filter: saturate(2);
}

.ak-main-container .ak-block-creations .ak-block-creation.ak-block-creation6 .ak-content-creation hr {
	border-color: #fff36e;
}

.ak-main-container .ak-block-social-feed {
	overflow: hidden;
	background: #f2f2f2;
	position: relative;
}

.ak-main-container .ak-block-social-feed .ak-block-links-social {
	text-align: center;
	margin: 12px 0;
}

.ak-main-container .ak-block-social-feed .ak-block-links-social a {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.ak-main-container .ak-block-social-feed .ak-block-links-social a:after {
	content: " ";
	position: absolute;
	display: block;
	width: 47px;
	height: 47px;
	opacity: 0;
	z-index: 2;
	top: 0;
	left: 0;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

.ak-main-container .ak-block-social-feed .ak-block-links-social a:hover:after {
	opacity: 1;
}

.ak-main-container .ak-block-social-feed .ak-block-links-social a.ak-fb:hover:after {
	background: url("../assets/images/home/fb-over.png") top center no-repeat transparent;
}

.ak-main-container .ak-block-social-feed .ak-block-links-social a.ak-yt:hover:after {
	background: url("../assets/images/home/yt-over.png") top center no-repeat transparent;
}

.fr .ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-slide-content1 {
	background: url("../assets/images/carousel-shop/momore-mobile.fr.jpg") top center no-repeat transparent;
	background-size: cover;
}

.fr .ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-slide-content2 {
	background: url("../assets/images/carousel-shop/furoshiki-mobile.fr.jpg") top center no-repeat transparent;
	background-size: cover;
}


@media all and (min-width:992px) {
	.fr .ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-slide-content1 {
		background: url("../assets/images/carousel-shop/momore-mobile.fr.jpg") top center no-repeat transparent;
	}

	.fr .ak-main-container .ak-block-shop .ak-home-carousel-shop .ak-slide-content2 {
		background: url("../assets/images/carousel-shop/furoshiki.fr.jpg") top center no-repeat transparent;
	}

}